{
  "comment": "Add this to your angular.json under projects > your-app > architect > build > options",
  "styles": [
    "src/styles.less"
  ],
  "stylePreprocessorOptions": {
    "includePaths": [
      "node_modules",
      "src"
    ]
  }
}
